/* CSS GLOBAL */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "PACE";
  src: url(/fonts/pace-racing-car/PACE.otf) format("opentype"),
    url(/fonts/pace-racing-car/PACE.ttf) format("truetype"),
    url(/fonts/pace-racing-car/PACE.woff) format("woff"),
    url(/fonts/pace-racing-car/PACE.woff2) format("woff2");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PACE Italic";
  src: url(/fonts/pace-racing-car/PACE-Italic.otf) format("opentype"),
    url(/fonts/pace-racing-car/PACE-Italic.ttf) format("truetype"),
    url(/fonts/pace-racing-car/PACE-Italic.woff) format("woff"),
    url(/fonts/pace-racing-car/PACE-Italic.woff2) format("woff2");

  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Sofast";
  src: url(/fonts/sofast-racing-car/sofast-regular/Sofast.otf)
      format("opentype"),
    url(/fonts/sofast-racing-car/sofast-regular/Sofast.ttf) format("truetype"),
    url(/fonts/sofast-racing-car/sofast-regular/Sofast.woff) format("woff"),
    url(/fonts/sofast-racing-car/sofast-regular/Sofast.woff2) format("woff2");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sofast Italic";
  src: url(/fonts/sofast-racing-car/sofast-italic/Sofast-Italic.otf)
      format("opentype"),
    url(/fonts/sofast-racing-car/sofast-italic/Sofast-Italic.ttf)
      format("truetype"),
    url(/fonts/sofast-racing-car/sofast-italic/Sofast-Italic.woff)
      format("woff"),
    url(/fonts/sofast-racing-car/sofast-italic/Sofast-Italic.woff2)
      format("woff2");

  font-weight: normal;
  font-style: italic;
}

:root {
  --font-title: "PACE";
  --font-title_italic: "PACE Italic";
  --font-body: "Sofast";
  --font-body_italic: "Sofast Italic";
  --primary-color: #ffff00;
  --second-color: #ffc107;
  --third-color: #d48201;
  --primary_black-color: #4b4b4b;
  --second_black-color: #383838;
  --third_black-color: #212121;
  --background-color: #101010;
  --white-color: #fff;
  --grey-color: #e0e0e0;
}

body {
  background-color: var(--background-color);
}

a,
p,
h2,
h3,
h4 {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto";
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.spacing-150 {
  height: 150px;
}

.spacing-200 {
  height: 200px;
}

.btn {
  font-family: "Sofast";
  display: inline-block;
  text-transform: uppercase;
  padding: 20px 38px;
  font-size: 20px;
  background: var(--primary-color);
  color: #111;
}

.title {
  font-family: var(--font-title);
  font-size: 2.5em;
  line-height: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.gradient {
  position: absolute;
  z-index: -1;
  font-size: 4.75em;
  margin-top: 10px;
  font-family: var(--font-title);
  background: linear-gradient(90deg, #a5a5a5, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text__body {
  font-family: var(--font-body);
  font-size: 0.875em;
  line-height: 20px;
}

.link {
  display: inline-block;
  padding-bottom: 5px;
  font-size: 1.2em;
  font-family: var(--font-body);
  text-transform: uppercase;
  border-bottom: 2px solid var(--primary-color);
}

/* TOPO */

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: rgba(95, 77, 70, 0.8) solid 1px;
}

header .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  background: url(../img/logo-kioficina.svg);
  background-size: 100% 100%;
  width: 120px;
  height: 80px;
  text-indent: -9999px;
}

header ul {
  display: flex;
  gap: 40px;
}

header ul a {
  font-family: "Sofast";
  font-size: 0.8em;
}

.btnContato a {
  font-family: "Sofast";
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}

.btnContato img {
  background: var(--third-color);
  box-shadow: 0 0 0 5px rgba(212, 130, 1, 0.3),
    0 0 0 10px rgba(212, 130, 1, 0.1);
  padding: 10px;
  border-radius: 50%;
}

.btnContato a:hover {
  font-weight: bold;
}

/* BANNER */

.banner {
  width: 100%;
  height: 100%;
}

/* BANNER _SLIDE */

.banner__slide img {
  display: block;
}

.banner__text {
  position: absolute;
  width: 600px;
  top: 40%;
  margin-left: 352px;
}

.banner__text h2 {
  font-family: "PACE Italic";
  font-size: 2em;
  line-height: 40px;
}

.banner__text p {
  margin-top: 8px;
  font-family: "Roboto";
  font-size: 1.13em;
  line-height: 26px;
  font-weight: 500;
}

.banner__text a {
  margin-top: 30px;
}

.banner__slide .slick-next {
  left: 94%;
  top: 78%;
}

.banner__slide .slick-prev {
  left: 90%;
  top: 78%;
  z-index: 1;
}

.banner__slide .slick-prev:before,
.slick-next:before {
  font-size: 48px;
  color: var(--primary-color);
}

.banner__slide .slick-dots {
  z-index: 3;
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  bottom: 50%;
  width: 10%;
}

.banner__slide .slick-dots li button:before {
  font-family: "slick";
  font-size: 20px;
}

.banner__slide .slick-dots li.slick-active button::before {
  opacity: 0.5;
  color: var(--primary-color);
}

.slick-dotted.slick-slider {
  margin-bottom: -3px;
}

/* BANNER _INFO */

.banner__info {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 60px;
  width: 100%;
  top: 15%;
}

.banner__info a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.banner__info span {
  background-color: var(--third-color);
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(212, 130, 1, 0.3),
    0 0 0 10px rgba(212, 130, 1, 0.1);
}

.banner__info h6 {
  font-family: "PACE";
  font-size: 0.75em;
}

/* BANNER _SOCIAL */

.banner__social {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
  gap: 24px;
  top: 30%;
}

.banner__social .line {
  background-color: var(--third-color);
  width: 2px;
  height: 60px;
  border-radius: 50%;
}

.banner__social h6 {
  font-family: var(--font-title_italic);
  font-size: 0.75em;
  color: var(--white-color);
  transform: rotate(-90deg);
  margin-top: 36px;
}

.quality .container {
  display: flex;
  gap: 40px;
  margin: 0 auto;
}

.quality p,
h3 {
  color: #fff;
}

.quality .details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.quality .details h2 {
  font-family: var(--font-title);
  font-weight: bold;
  font-size: 28px;
  color: transparent;
  -webkit-text-stroke: 1px var(--primary-color);
}

.quality .details hr {
  background: white;
  width: 100%;
  border: none;
  border-radius: 20px;
  height: 3px;
}

.boxQuality {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #000;
  padding: 40px;
  gap: 20px;
  margin: 0 auto;
  margin-top: 26px;
  width: 293px;
  height: 220px;
}

.boxQuality img {
  padding: 12px;
  background: var(--third-color);
  box-shadow: 0 0 0 5px rgba(212, 130, 1, 0.3),
    0 0 0 10px rgba(212, 130, 1, 0.1);
  border-radius: 50%;
}

.boxQuality h3 {
  font-family: var(--font-title);
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.boxQuality p {
  font-family: var(--font-body);
  font-size: 0.75em;
  line-height: 22px;
}

.about .container {
  margin: 0 auto;
}

.about .container div:nth-child(1) {
  display: flex;
  align-items: start;
}

.about .text {
  max-width: 600px;
  flex-direction: column;
  position: relative;
  gap: 30px !important;
}

.about .text .gradient {
  position: absolute;
  font-size: 4.75em;
  font-family: var(--font-title);
  background: linear-gradient(90deg, #a5a5a5, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
}

.about .text h3,
p {
  z-index: 1;
}

.about .text h3 {
  font-family: var(--font-title);
  color: var(--primary-color);
  font-size: 2.5em;
  line-height: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.about .text p {
  font-family: var(--font-body);
  font-size: 0.875em;
  line-height: 20px;
}

.about .text h4 {
  font-family: var(--font-title);
  color: #dedede;
  font-size: 1.5em;
  line-height: 18px;
  font-weight: 500;
  color: transparent;
  -webkit-text-stroke: 1px #ffff00;
}

.about .text .textQuality {
  font-family: "PACE";
  font-size: 22px;
  line-height: 50px;
}

.about .image {
  position: relative;
  width: 600px;
  display: flex;
  justify-content: end;
}

.about .image .primary {
  width: 500px;
}

.about .image .second {
  position: absolute;
  z-index: 1;
  left: 40px;
  bottom: 30px;
  width: 140px;
}

/* SERVICES */

.services .container {
  display: flex;
}

.services__text,
.services__item {
  width: 600px;
}

/* SERVICES _TEXT */

.services__title {
  margin-bottom: 30px;
}

.services__title h2 {
  position: absolute;
  z-index: -1;
  width: 50%;
  font-size: 4.75em;
  margin-top: 10px;
  font-family: var(--font-title);
  background: linear-gradient(90deg, #a5a5a5, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services__title h3 {
  font-family: var(--font-title);
  color: var(--primary-color);
  font-size: 2.5em;
  line-height: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 50%;
}

.services__body p {
  font-family: var(--font-body);
  font-size: 0.875em;
  line-height: 20px;
  margin-bottom: 20px;
  width: 500px;
}

.body__link {
  display: inline-block;
  padding-bottom: 5px;
  font-size: 1.2em;
  font-family: var(--font-body);
  text-transform: uppercase;
  border-bottom: 2px solid var(--primary-color);
}

/* TODO: SERVICES _CARD */

.services__item {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.card__item {
  display: flex;
  align-items: center;
  gap: 20px;
  background: linear-gradient(
    90deg,
    var(--third_black-color) 10%,
    rgba(0, 0, 0, 0) 70%
  );
}

.card__info {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.card__title {
  font-family: var(--font-body);
  font-size: 1.2em;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.card__link {
  display: inline-block;
  padding-bottom: 5px;
  font-size: 1.2em;
  font-family: var(--font-body);
  text-transform: uppercase;
  border-bottom: 2px solid var(--primary-color);
}

.card__body {
  font-family: var(--font-body);
  font-size: 0.875em;
  line-height: 20px;
  color: var(--grey-color);
}

/* TODO: FIM SERVICES */

/* TODO: VIDEO */

.video {
  height: 500px;
  width: 100%;
}

.video a {
  background-image: url(/img/car_video_bg.jpg);
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* TODO: FIM VIDEO */

/* TODO: NUMBER */

.number .container {
  display: flex;
  justify-content: space-between;
}

.number__item h6 {
  font-family: var(--font-title);
  font-size: 3.5em;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 10px;
  color: transparent;
  -webkit-text-stroke: 1px #ffff00;
}

.number__item p {
  font-family: var(--font-title);
  font-size: 1.2em;
}

.autobrands h3 {
  font-family: var(--font-title);
  font-size: 2.5em;
  line-height: 48px;
  text-align: center;
  margin-bottom: 60px;
}

.autobrands__slide img {
  height: 60px;
  max-width: 100px;
  align-items: center;
}

.clients {
  position: relative;

  .clients__bg {
    position: absolute;
    bottom: -60px;
    right: 320px;
    z-index: -1;
  }
}

.clients__title {
  margin-bottom: 50px;
}

.clients__title h2 {
  position: absolute;
  z-index: -1;
  font-size: 4.75em;
  margin-top: 10px;
  font-family: var(--font-title);
  background: linear-gradient(90deg, #a5a5a5, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clients__title h3 {
  font-family: var(--font-title);
  font-size: 2.5em;
  color: var(--primary-color);
  line-height: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.clients__box {
  display: flex!important;
  justify-content: space-between;

  .clients__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .clients__title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h5 {
        font-family: var(--font-title);
        color: var(--white-color);
        font-size: 1.5em;
        margin-bottom: 6px;

      }

      h6 {
        font-family: var(--font-body);
        color: var(--white-color);
        font-size: 1.2em;
      }
      
    }

    p {
      text-align: start;
      font-size: 1em;
    }
  }
}


.team .container {
  display: flex;
  gap: 20px;
}

.team__text {
  max-width: 420px;
}

.team__text h2 {
  font-family: var(--font-title);
  font-size: 2.5em;
  line-height: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.team__text p {
  font-family: var(--font-body);
  font-size: 0.875em;
  line-height: 20px;
  margin-bottom: 50px;
}

.team__text a {
  display: inline-block;
  padding-bottom: 5px;
  font-size: 1.2em;
  font-family: var(--font-body);
  text-transform: uppercase;
  border-bottom: 2px solid var(--primary-color);
}

.team__item {
  display: flex;
  gap: 30px;
}

.team__info {
  display: block;
  text-align: center;
  position: relative;
  top: -40px;
  background: black;
  border-bottom: 1px solid var(--primary-color);
  width: 170px;
  padding: 20px;
  margin: 0 auto;
}

.team__info a {
  font-family: var(--font-title);
  color: var(--primary-color);
  font-size: 0.9em;
  text-transform: uppercase;
}

.team__info p {
  font-family: var(--font-body);
  font-size: 0.79em;
  margin-top: 10px;
}

/* TODO: BLOG SECTION */

/* BLOG _TEXT */

.blog__text .gradient {
  width: 1200px;
  display: flex;
  justify-content: center;
}

.blog__text .title,
.text__body {
  text-align: center;
}

/* BLOG _ITEM */

.blog__item {
  display: flex;
  gap: 30px;
  margin-top: 60px;
}

.blog__card {
  max-width: 380px;
  max-height: 450px;
}

.blog__info {
  padding: 20px;
}

.blog__info .title,
.link {
  font-size: 1em;
  line-height: 24px;
  padding: 0;
  margin-bottom: 12px;
}

.blog__info span {
  color: var(--grey-color);
  font-family: var(--font-body);
  font-size: .875em;
  margin-bottom: 12px;
  display: inline-block;
}

footer {
  background-color: #000;
  padding-top: 100px;
}

footer .line {
  margin: 0;
}

.footer__logo {
  display: block;
  margin: 40px 0 20px 0;
}

.footer__item {
  display: flex;
  gap: 85px;
  margin-bottom: 28px;
}

.footer__info {
  width: 400px;
}

.footer__location li {
  margin-bottom: 20px;
}

.footer__location a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__item .link {
  color: var(--grey-color);
  border: none;
  font-size: .875em;
}

.footer__item h6 {
  font-size: 1em;
  line-height: 24px;
  color: var(--white-color);
}

.footer__info .text__body {
  text-align: start;
  margin-bottom: 20px;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 40px 0;
}

.footer__copyright span {
  color: var(--white-color);
  font-size: .875em;
  font-family: var(--font-body);
}

.footer__social {
  display: flex;
  gap: 14px;
}