/* CSS GLOBAL */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "PACE";
  src: url(/fonts/pace-racing-car/PACE.otf) format("opentype"),
    url(/fonts/pace-racing-car/PACE.ttf) format("truetype"),
    url(/fonts/pace-racing-car/PACE.woff) format("woff"),
    url(/fonts/pace-racing-car/PACE.woff2) format("woff2");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PACE Italic";
  src: url(/fonts/pace-racing-car/PACE-Italic.otf) format("opentype"),
    url(/fonts/pace-racing-car/PACE-Italic.ttf) format("truetype"),
    url(/fonts/pace-racing-car/PACE-Italic.woff) format("woff"),
    url(/fonts/pace-racing-car/PACE-Italic.woff2) format("woff2");

  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Sofast";
  src: url(/fonts/sofast-racing-car/sofast-regular/Sofast.otf) format("opentype"),
    url(/fonts/sofast-racing-car/sofast-regular/Sofast.ttf) format("truetype"),
    url(/fonts/sofast-racing-car/sofast-regular/Sofast.woff) format("woff"),
    url(/fonts/sofast-racing-car/sofast-regular/Sofast.woff2) format("woff2");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sofast Italic";
  src: url(/fonts/sofast-racing-car/sofast-italic/Sofast-Italic.otf) format("opentype"),
    url(/fonts/sofast-racing-car/sofast-italic/Sofast-Italic.ttf) format("truetype"),
    url(/fonts/sofast-racing-car/sofast-italic/Sofast-Italic.woff) format("woff"),
    url(/fonts/sofast-racing-car/sofast-italic/Sofast-Italic.woff2) format("woff2");

  font-weight: normal;
  font-style: italic;
}

:root {
  --font-title: "PACE";
  --font-title_italic: "PACE Italic";
  --font-body: "Sofast";
  --font-body_italic: "Sofast Italic";
  --primary-color: #ffff00;
  --second-color: #FFC107;
  --third-color: #D48201;
  --primary_black-color: #4B4B4B;
  --second_black-color: #383838;
  --third_black-color: #212121;
  --white-color: #fff;
}

a, p, h2, h3 {
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto';
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
}

.btn {
  font-family: "Sofast";
  display: inline-block;
  text-transform: uppercase;
  padding: 20px 38px;
  font-size: 20px;
  background: var(--primary-color);
  color: #111;
}

/* TOPO */

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: rgba(95, 77, 70, 0.8) solid 1px;
}

header .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  background: url(../img/logo-kioficina.svg);
  background-size: 100% 100%;
  width: 120px;
  height: 80px;
  text-indent: -9999px;
}

header ul {
  display: flex;
  gap: 40px;
}

header ul a {
  font-family: "Sofast";
  font-size: 0.8em;
}

.btnContato a {
  font-family: "Sofast";
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}

.btnContato img {
  background: var(--third-color);
  box-shadow: 0 0 0 5px rgba(212, 130, 1, 0.3), 0 0 0 10px rgba(212, 130, 1, 0.1);
  padding: 10px;
  border-radius: 50%;
}


.btnContato a:hover {
  font-weight: bold;
}

/* BANNER */

.banner {
  width: 100%;
  height: 100%;
}

/* BANNER _SLIDE */

.banner__slide img {
  display: block;
}

.banner__text {
  position: absolute;
  width: 600px;
  top: 40%;
  margin-left: 352px;
}

.banner__text h2 {
  font-family: "PACE Italic";
  font-size: 2em;
  line-height: 40px;
}

.banner__text p {
  margin-top: 8px;
  font-family: 'Roboto';
  font-size: 1.13em;
  line-height: 26px;
  font-weight: 500;
}

.banner__text a {
  margin-top: 30px;
}

.banner__slide .slick-next {
  left: 94%;
  top: 78%;
}

.banner__slide .slick-prev {
  left: 90%;
  top: 78%;
  z-index: 1;
}

.banner__slide .slick-prev:before, .slick-next:before {
  font-size: 48px;
  color: var(--primary-color);

}

.banner__slide .slick-dots {
  z-index: 3;
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  bottom: 50%;
  width: 10%;
}

.banner__slide .slick-dots li button:before {
  font-family: 'slick';
  font-size: 20px;
}

.banner__slide .slick-dots li.slick-active button::before {
  opacity: .5;
  color: var(--primary-color);
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/* BANNER _INFO */

.banner__info {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 60px;
  width: 100%;
  top: 15%;
}

.banner__info a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.banner__info span {
  background-color: var(--third-color);
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(212, 130, 1, 0.3), 0 0 0 10px rgba(212, 130, 1, 0.1);
}

.banner__info h6 {
  font-family: 'PACE';
  font-size: 0.75em;
}

/* BANNER _SOCIAL */

.banner__social {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
  gap: 24px;
  top: 30%;
}

.banner__social .line {
  background-color: var(--third-color);
  width: 2px;
  height: 60px;
  border-radius: 50%;
}

.banner__social h6 {
  font-family: var(--font-title_italic);
  font-size: 0.75em;
  color: var(--white-color);
  transform: rotate(-90deg);
  margin-top: 36px;
}

.quality {
  background-color: #141414;
  padding: 80px 0;
}

.quality .container {
  display: flex;
  gap: 40px;
  margin: 0 auto;
}

.quality p,
h3 {
  color: #fff;
}

.quality .details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.quality .details h2 {
  font-family: var(--font-title);
  font-weight: bold;
  font-size: 28px;
}

.quality .details hr {
  background: white;
  width: 100%;
  border: none;
  border-radius: 20px;
  height: 3px;
}

.boxQuality {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #000;
  padding: 40px;
  gap: 20px;
  margin: 0 auto;
  margin-top: 26px;
  width: 293px;
  height: 220px;
}

.boxQuality img {
  padding: 12px;
  background: var(--third-color);
  box-shadow: 0 0 0 5px rgba(212, 130, 1, 0.3), 0 0 0 10px rgba(212, 130, 1, 0.1);
  border-radius: 50%;
}

.boxQuality h3 {
  font-family: var(--font-title);
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.boxQuality p {
  font-family: var(--font-body);
  font-size: 0.75em;
  line-height: 22px;
}